.authInner {
    display: flex;
    justify-content: center;
    align-items: center;
}

.authFormContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}